.detail-area,
.detail-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detail-area {
  height: auto;
  padding: 20px;
}

.poster-img {
  display: flex;
  justify-content: center;
}
.poster-img img {
  width: 90%;
  margin: 0 auto;
}
.genre-area {
  margin: 10px;
}
.badge-area {
  margin: 5px;
  padding: 10px;
}
.vote-average-area,
.popularity-area {
  margin: 10px;
}
.overview-area {
  margin: 20px;
  text-align: center;
}

/* Trailer */
.trailer-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.each-trailer {
  margin: 20px;
}

/* Review Area */
.review-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}
.each-review {
  border: 2px solid red;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 90%;
}
.button-area {
  cursor: pointer;
  text-decoration: underline;
  background-color: black;
  border: none;
  color: white;
  font-weight: 700;
}
