.movie-card {
  width: 220px;
  height: 330px;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
}
.movie-card:hover {
  transform: scale(1.3) translateZ(20px);
  z-index: 2;
  border-radius: 10px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(43, 41, 41, 0.9);
  opacity: 0;
  transition: all 1s;
  color: white;
  font-weight: bold;
  overflow-wrap: break-word;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay:hover {
  opacity: 1;
}
.overlay div {
  margin-top: 10px;
}
.badge-area {
  margin: 1px;
}
.age-area {
  color: rgb(201, 4, 4);
}

@media screen and (max-width:430px) {

}
