body,html, #root {
  background-color: rgb(18, 18, 18);
  height: 100%;
  color: white;
}
.nav-area {
  background-color: rgb(18, 18, 18);
  color: white;
}

/* Page not found */
.page-not-found-area {
  height: 100vh;
  background-image: url('https://static.vecteezy.com/system/resources/previews/008/659/319/non_2x/page-404-error-the-website-page-a-resource-with-a-dark-background-and-abstraction-vector.jpg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-color: rgb(37, 46, 46);
  background-position: center;
}